
# --- Data
data

# --- Project specific
src/data-path.txt
*.pt
*.pickle

# --- General
# backups
*.backup
# Temporary folder for tests
tmp
# OS management of deleted files
*.fuse_hidden*
# Logging
*.log
# Wandb
wandb

# --- Python & Tools

# Python
__pycache__

# Jupyter
*.ipynb_checkpoints

# IDE - IntelliJ (Pycharm, Dataspell)
.idea
